#app {
  display: flex;
}

body {
  background: black;
  overflow: hidden;
}

.info-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
    background: transparent;
    position: absolute;
    z-index: -1;
      padding: 5em 1em;
  transition: opacity 1s;
}

svg {
  z-index: -2;
  position: absolute;
}

.asteroidList {
  height: min-content;
  color: white;
  cursor: pointer;
  align-self: flex-end;
  padding-right: 1em;
  font-size: 0.8em;
  font-family: 'Roboto Mono', monospace;
}


.asteroidInfo {
  color: lightblue;
  align-self: center;
  position: absolute;
  text-align: center;
  margin: auto;
  font-size: 1.1em;
  transition: opacity 1s;
} 

.summary {
  transition: opacity 1s;
  position: absolute;
  z-index: -1;
  top: 2em;
  right: 2em;
  font-size: 0.9em;
  color: white;
  font-family: 'Roboto Mono', monospace;
}
.asteroidInfo > p {
  font-size: 0.9em;
  text-decoration: none;
  font-family: 'Oxygen', sans-serif;
}
p.name {
    text-decoration: underline;
}

span {
  font-size: 1rem;
}

form {
  left: 2em;
  top: 3em;
  background: transparent;
  position: absolute;
  color: lightgray;
  transition: opacity 1s;
}

.about {
  position: absolute;
  background: transparent;
  float: left;
  left: 2em;
  bottom: 2em;
  width: 33%;
  color: rgb(90, 90, 90);
  color: #007bff;
  display: flex;
  flex-direction: column;
  transition: opacity 1s;
}

#about:hover {
  text-decoration: underline;
   cursor: pointer;
}

#about {
  width: fit-content;
}


circle {
  transition: opacity 1s;
}

.copyright {
  position: absolute;
  right: 1em;
  bottom: 1em;
  color: rgb(90, 90, 90);
  font-size: 0.6em;
  opacity: 0.5;
}

.copyright:hover {
  opacity: 1;
}

.about-info {
  transition: opacity 1s;
  font-size: 0.8em;
  color:rgb(90, 90, 90);
  text-decoration: none;
}

.show-info-enter {
  opacity: 0;
}

.show-info-enter-active {
  opacity: 1;
  transition: all 1000ms;
}

.show-info-exit {
  opacity: 1;
}

.show-info-exit-active {
  opacity: 0;
  transition: all 1000ms;

}

.zen{
   color: #007bff; 
   left: 2em;
   position: absolute;
   top: 1em;
   cursor: pointer;
}

.zen:hover{
  text-decoration: underline;
}